.auctions__img {
	position: relative;

	img {
		object-fit: cover;
		width: 100%;
	}
	div {
		position: absolute;
		bottom: 0;
		left: 0;
		background: linear-gradient(125.33deg, #8613a5 18.61%, rgba(250, 250, 250, 0.65) 137.4%);
		opacity: 0.95;
		box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.12);
		backdrop-filter: blur(22.5px);
		/* Note: backdrop-filter has minimal browser support */

		border-radius: 0px;
		padding: 15px 45px;
		font-family: 'Work Sans';
		font-style: normal;
		font-weight: 600;
		font-size: 24px;
		line-height: 35px;
		/* or 148% */

		letter-spacing: 0.02em;

		color: #f5fbf2;
		@media (max-width: 1300px) {
			font-size: 18px;
			padding: 10px 25px;
		}
	}
}
.auctions__item {
	background-color: #3d2942;
	padding: 32px;
	@media (max-width: 700px) {
		padding: 20px 15px;
	}
}
.auctions__profile {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 28px 0;
}
.auctions__profile__guy {
	display: flex;
	align-items: center;
	img {
		border-radius: 50%;
		display: block;
		overflow: hidden;
		margin-right: 16px;
	}
}
.auctions__bid {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.auctions__btn {
	display: block;
	background: rgba(233, 215, 167, 0.1);
	border: 1px solid #fde8b3;
	padding: 21px;
	font-family: 'Work Sans';
	font-weight: 500;
	font-size: 24px;
	line-height: 35px;
	width: 100%;
	margin-top: 40px;
	letter-spacing: 0.05em;
	transition: all 0.2s;
	&:hover {
		border: 2px dashed;
	}
}
.auctions-profile__owner {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 28px;
	line-height: 35px;
	color: #f5fbf2;
	@media (max-width: 1300px) {
		font-size: 20px;
	}
	@media (max-width: 1100px) {
		font-size: 16px !important;
	}
}
.auctions-slide {
	@media (max-width: 600px) {
		display: block;
	}
}
.swiper-wrapper {
	@media (max-width: 600px) {
		flex-direction: column;
	}
}
.auctions-profile__nick {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 35px;
	display: flex;
	align-items: center;

	color: #bdaac1;
	margin-top: 8px;
}
.auctions-profile__likes {
	img {
		width: 28px;
	}
	span {
		font-family: 'Work Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 32px;
		line-height: 35px;
		/* identical to box height, or 111% */

		color: #76607a;
	}
	@media (max-width: 700px) {
		img {
			width: 15px;
		}
		span {
			font-size: 18px !important;
		}
	}
}

.auctions-bid__title {
	font-weight: 400;
	font-size: 24px;
	line-height: 35px;
	color: #c6bfc8;
	@media (max-width: 700px) {
		font-size: 18px;
	}
}
.auctions-bid__price {
	font-family: 'Oxanium';
	font-weight: 700;
	font-size: 24px;
	line-height: 35px;
	color: #f5fbf2;
}
.swiper-button-prev1,
.swiper-button-next1 {
	width: 54px;
	height: 54px;
	position: absolute;
	z-index: 4;
	cursor: pointer;
	@media (max-width: 600px) {
		display: none;
	}
}
.swiper-button-prev1 {
	top: 20px;
	right: 75px;
	opacity: 0.7;
}
.swiper-button-next1 {
	top: 20px;
	right: 15px;
}

.title-wrapper {
	margin-top: 65px;
	margin-bottom: 65px;
}
.options__view-all {
	margin: 84px auto 0;
	padding: 24px 64px;
	border: 1px solid #ffce4e;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 35px;
	/* identical to box height, or 118% */
	transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55);

	letter-spacing: 0.05em;

	color: #f5fbf2;
	display: block;
	&:hover {
		color: $yellow;
		border-color: $white;
	}
	@media (max-width: 500px) {
		padding: 13px 53px;
		margin: 48px auto 0;
		font-size: 18px;
	}
}
.auctions {
	background-image: url('../../img/auctions-bg-effect.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
