.categories {
    margin-top: 105px;
}
.categories-slider {
	padding: 0 !important;

	.auctions__img {
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba($color: #000, $alpha: 0.65);
			opacity: 0;
			transition: all 0.5s ease-in-out;
		}
		&:hover {
			&:after {
				opacity: 1;

			}
            .categories__bid-btn {
                opacity: 1;
                pointer-events: all;
            }
		}
	}
}
.categories__bid-btn {
	background: #ffce4e;
	backdrop-filter: blur(22.5px);
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
    padding: 10px 70px;
	color: #000000;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease-in;
}
